:root {
    --nav-height: 50px;
}

body {
    font-family: futura-pt-condensed, sans-serif;
    /* font-weight: 500; */
    margin: 0;
    padding: 0;
    background-color: #003059;
    /* overflow: hidden; */
}

nav {
    background-color: #003059;
    color: #67d3d1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    overflow: hidden;
    gap: 30px;
    height: var(--nav-height);
}

nav a {
    color: #67d3d1;
    text-decoration: none;
    margin: 0 15px;
}

h1 {
    color: #d66b1d;
    margin: 0;
    font-size: 20vw;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

h3 {
    color: #d66b1d;
    font-size: 1.5em;
    font-weight: normal;
    padding-inline: 20%;
    margin-top: 0;
    font-weight: 500;
}

.landing {
    height: calc(100vh - var(--nav-height));
    background-color: #67d3d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.auth-buttons a {
    background-color: #e4ac50;
    color: #913d00;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    width: 100px;
    box-shadow: 0 2px 0 #0000005b;
    border-top: 1px solid #ffffff5a;
}

.signup-form {
    height: calc(100vh - var(--nav-height));
    background-color: #67d3d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    color: #d66b1d;
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 500;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.flashes {
    list-style: none;
    background: #ffdddd;
    padding: 10px;
    margin: 10px;
}