<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Visualizer</title>
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <div id="visualization"></div>
    <a href="/" id="backBtn" class="back-btn">← Back</a>
    <script>
        var userId = "{{ user_id }}";
        var platform = "{{ platform }}";
        var listeningData = {{ listening_data.content|tojson }};
    </script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/visual.js"></script>
</body>
</html>
