<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Village</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/nye5urt.css">
</head>
<body>
    <nav>
        <a href="/map">Map</a>
        <a href="/home">My Home</a>
        <a href="/games">Games</a>
        <a href="/friends">Friends</a>
        <div style="flex-grow: 1;"></div>
        
        {% if current_user.is_authenticated %}
            <div class="coins-display">
                <img src="{{ url_for('static', filename='images/coin_stack.png') }}" class="coin-icon">
                <span class="coin-amount">{{ current_user.coins }}</span>
            </div>
            <div class="user-menu">
                <a href="#" class="user-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7ZM14 7C14 8.10457 13.1046 9 12 9C10.8954 9 10 8.10457 10 7C10 5.89543 10.8954 5 12 5C13.1046 5 14 5.89543 14 7Z"
                            fill="#67d3d1" />
                        <path
                            d="M16 15C16 14.4477 15.5523 14 15 14H9C8.44772 14 8 14.4477 8 15V21H6V15C6 13.3431 7.34315 12 9 12H15C16.6569 12 18 13.3431 18 15V21H16V15Z"
                            fill="#67d3d1" />
                    </svg>
                </a>
                <div class="dropdown-content">
                    <span class="user-greeting">Signed in as: {{ current_user.username }}</span>
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {% else %}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        {% endif %}
    </nav>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>