<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pineapples again in flask and vars</title>
</head>

<body>
    <h1>pineapples again in flask number three</h1>
    <h2>Hello {{my_variable}}</h2>
    <h2>Hello {{my_list}}</h2>
    <h2>Hello first: {{my_list[0]}}</h2>
    <h2>Hello first-second: {{my_list[0:2]}}</h2>
    <h2>Hello Dictionary {{my_dict}}</h2>
    <h2> Dictionary Item {{my_dict['color']}}</h2>
</body>

</html>